@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
    --light-gray: hsl(227, 10%, 90%);
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--dark-cyan);
    background-image: url(../img/bg-pattern-top.svg), url(../img/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 51vw bottom 20vh, left 45vw top 40vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}


.card {
    margin: 170px auto 50px;
    width: 330px;
    height: 380px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.card__header {
    background-image: url(../img/bg-pattern-card.svg);
    height: 140px;
}

.card__photo {
    position: absolute;
    top: 87px;
    left: 35%;
    border: 5px solid white;
    border-radius: 50%;
    overflow: hidden;
    height: 96px;
    background-color: white;
}

.card__body {
    background-color: white;
    height: 150px;
    padding: 75px;
    box-sizing: border-box;
    text-align: center;
}

.name {
    font-weight: 700;
    color: var(--very-dark-desaturated-blue);
}

.age,
.city {
    color: var(--dark-grayish-blue);
}

.city {
    margin-top: 10px;
    font-size: 0.8em;
}

.card__footer {
    background-color: white;
    border-top: 1px solid var(--light-gray);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
}

.card__footer__social {
    text-align: center;
}

.stats {
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--very-dark-desaturated-blue);
}

.category {
    font-size: 0.5em;
    color: var(--dark-grayish-blue);
    letter-spacing: 2px;
    position: relative;
    bottom: 5px;
}


.attribution {
    color: whitesmoke;
    text-align: center;
}



a {
    color: var(--very-dark-desaturated-blue);
    font-style: italic;
    text-decoration: none;
}

footer {
    font-size: 1rem;
}

@media screen and (min-width: 1440px) {
    .card {
        width: 350px;
    }
}